html, body, .content, .src, .dst, .CodeMirror {
  height: 100%;
}

.src, .dst {
  position: relative;
  float: left;
  width: 30%;
}

/*
.src textarea {
  visibility: hidden;
}
*/

.dst {
  position: relative;
  float: right;
  width: 69%;
  text-align: center;
}

.dst svg {
  text-align: left;
}

.CodeMirror {
  height: 95%;
  font-size: 0.75em;
}

.error-message {
  font-family: Consolas, Menlo, monospace;
  font-size: 0.8em;
  padding-left: 1em;
  color: darkred;
  text-align: left;
}