body {
  line-height: initial !important;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE 10+, Edge */
}

body::-webkit-scrollbar {    /* WebKit, Blink */
  display: none;
}

#flex {
  display: flex;
  margin-top: 2em;
  flex-direction: row;
  align-items: center;
}

#left-pane {
  position: fixed;
  flex-basis: 350px;
  flex-shrink: 0;
  align-self: baseline;
  padding-top: 0.25em;
  padding-bottom: 1em;
  font-size: 12px !important;
}

#left-pane, .CodeMirror {
  height: 100%;
}

#right-pane {
  margin-top: -2em;
  padding-top: 0.25em;
  text-align: center;
  justify-content: center;
}

#right-pane > * {
  text-align: left;
}

.gutter {
  background-color: #fbfbfb;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS\
    9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjp\
    o5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo786\
    5AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZg\
    AAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAAS\
    UVORK5CYII=');
}

.error-message {
  font-family: Consolas, Menlo, monospace;
  font-size: 0.8em;
  padding-left: 1em;
  color: darkred;
  text-align: left;
}

/* Customizations for Semantic UI */

.ui.dimmer {
  background-color: rgba(0, 0, 0, .90);
}

sup, sub {
  position: initial !important;
  font-size: smaller !important;
}

sup {
  top: 0 !important;
  vertical-align: super !important;
}

sub {
  vertical-align: sub !important;
}